<div>
    <div class="col-sm text-center">
        <h4>
            Ganadores
        </h4>
        <div class="jumbotron" *ngIf="numberOfWinners === 0">
            <h4>
                Aun no se ha calificado ninguna idea en esta ronda de inversion
            </h4>
        </div>
        <table class="table text-center" *ngIf="numberOfWinners > 0">
            <thead>
                <tr>
                    <td>
                        <strong>
                                Nombre Inversion
                        </strong>
                    </td>
                    <td>
                        <strong>
                                Calificación promedio
                        </strong>
                    </td>
                    <td>
                        <strong>
                                Clasificación
                        </strong>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let winner of winnersInInvestmentRound | async; index as i">
                    <td>
                        prueba
                    </td>
                    <td>
                        prueba
                    </td>
                    <td>
                        prueba
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>