mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
}.signin-content {
    background-image: url('../../../assets/background.png');
    width: 100%;
    height: 100%;
    padding: 20px 1rem;
}.full-width-input {
    width: 100%;
}