<div class="signin-content">
    <mat-card>
        <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <p>Bienvenido, <br>Congreso Valor Compartido</p>
                <mat-form-field class="full-width-input">
                    <input matInput type="number" placeholder="Usuario" formControlName="userName" required>
                    <mat-error *ngIf="isFieldInvalid('userName')">
                        Por favor ingrese su nombre de usuario
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width-input">
                    <input matInput type="password" placeholder="Contraseña" formControlName="password" required>
                    <mat-error *ngIf="isFieldInvalid('userName')">
                        Por favor ingrese su contraseña
                    </mat-error>
                </mat-form-field>
                <button mat-raised-button color="primary">Iniciar sesión</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>