<div class="row">
    <div class="col-sm-6">
        <h4>
            Informacion del congreso
        </h4>
        <br>
        <table class="table">
            <tr>
                <td>
                    <strong>
                        Rondas de inversion
                    </strong>
                </td>
                <td>
                    {{ congressInformation.totalNumberRounds }}
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                                Ronda inversion actual
                            </strong>
                </td>
                <td>
                    {{ congressInformation.currentInvestmentRound }}
                </td>
            </tr>
        </table>
    </div>
    <div *ngIf="congressInformation" class="col-sm-6">
        <app-winners [congressInformation]="congressInformation"></app-winners>
    </div>
</div>

<br>

<div class="row">
    <div *ngIf="congressInformation" class="col-sm">
        <app-admin-rondas-inversion [congressInformation]="congressInformation"></app-admin-rondas-inversion>
    </div>
</div>

<br>

<div class="row">
    <div *ngIf="congressInformation" class="col-sm">
        <app-administrar-agenda [congressInformation]="congressInformation"></app-administrar-agenda>
    </div>
</div>