<h1 mat-dialog-title>Nuevo evento</h1>
<div mat-dialog-content>
    <p>Por favor ingrese los datos del nuevo evento a registrar</p>
    <mat-form-field class="full-width-input">
        <input matInput placeholder="Nombre evento" [(ngModel)]="data.descripcion" required>
        <mat-error *ngIf="data.descripcion.trim() == '' ">
            Por favor ingrese un nombre para el nuevo evento
        </mat-error>
    </mat-form-field>

    <mat-checkbox [(ngModel)]="data.esLaboratorio">Laboratorio</mat-checkbox>

    <label for="horarioDesde">
        Hora de inicio
      </label>
    <ngb-timepicker id="horarioDesde" [(ngModel)]="since" [meridian]="meridian"></ngb-timepicker>

    <label for="horarioHasta">
            Hora final
            </label>
    <ngb-timepicker id="horarioHasta" [(ngModel)]="until" [meridian]="meridian"></ngb-timepicker>
    <br>
    <button class="btn btn-sm btn-outline-{{meridian ? 'success' : 'danger'}}" (click)="toggleMeridian()">
      Meridian - {{meridian ? "ON" : "OFF"}}
    </button>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button mat-button [mat-dialog-close]="send()" cdkFocusInitial>Enviar</button>
</div>