<h1 mat-dialog-title>Calificaciones</h1>
<div mat-dialog-content>
  <p>Por favor seleccione la calificación asignada para cada criterio</p>
  <mat-form-field class="full-width-input">
    <input matInput placeholder="Nombre criterio" [(ngModel)]="data.nombreCriterio" required>
    <mat-error *ngIf="data.nombreCriterio.trim() == '' ">
      Por favor ingrese un nombre para el nuevo criterio
    </mat-error>
  </mat-form-field>
  <br>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Enviar</button>
</div>