<div class="jumbotron" *ngIf="!investmentsOptions || investmentsOptions.length === 0">
    <h4>
        No se han cargado inversiones a esta área de inversión
    </h4>
    <button class="btn btn-primary" *ngIf="isUserCoor"> Nueva inversion</button>
</div>


<table mat-table [dataSource]="investmentsOptions" *ngIf="investmentsOptions && investmentsOptions.length > 0" class="mat-elevation-z8">
    <ng-container matColumnDef="nombreInversion">
        <th mat-header-cell *matHeaderCellDef> Nombre
        </th>
        <td mat-cell *matCellDef="let element"> {{element.nombreInversion}} </td>
    </ng-container>

    <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef> Descripcion
        </th>
        <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
    </ng-container>

    <ng-container matColumnDef="impact">
        <th mat-header-cell *matHeaderCellDef> Impacto </th>
        <td mat-cell *matCellDef="let element"> {{element.impact}} </td>
    </ng-container>

    <ng-container matColumnDef="opportunity">
        <th mat-header-cell *matHeaderCellDef> Oportunidad </th>
        <td mat-cell *matCellDef="let element"> {{element.opportunity}} </td>
    </ng-container>

    <ng-container matColumnDef="id_grupo">
        <th mat-header-cell *matHeaderCellDef> Grupo </th>
        <td mat-cell *matCellDef="let element"> {{element.id_grupo}} </td>
    </ng-container>

    <!--
    <ng-container matColumnDef="investmentPoints" *ngIf="this.informacionApp['ronda_inversion_actual'] > 1 && usuarioFinal">
        <th mat-header-cell *matHeaderCellDef> Puntos a invertir </th>
        <td mat-cell *matCellDef="let element; let indiceInversion = index">
            <p *ngIf="  puntosDisponibles === 0  ">No tiene puntos disponibles</p>
            <mat-form-field *ngIf="  i > 0 && puntosDisponibles > 0">
                <input matInput placeholder="Puntos a invertir" [(ngModel)]="valorInversiones[iTematica][i][indiceInversion] ">
            </mat-form-field>
        </td>
    </ng-container>
  -->
    <ng-container matColumnDef="actions" *ngIf="isUserCoor">
        <th mat-header-cell *matHeaderCellDef>
            <button *ngIf="isUserCoor" class="btn btn-primary" [routerLink]="['../nuevaOpcionInversion', i]"> Nueva inversion</button>
        </th>
        <td mat-cell *matCellDef="let element; let indiceInversion = index">
            <button class="btn btn-primary" (click)="openDialog( element )" *ngIf="isUserCoor">Calificar idea</button>
            <!--
            <button class="btn btn-primary" (click)="openDialog( element  )" (click)="invertir( iTematica, i, indiceInversion,element.id_grupo,element.inversores)" *ngIf="usuarioFinal && calificada == false && i > 0 && puntosDisponibles > 0">Invertir</button>
            -->
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>