<h1 mat-dialog-title>Nueva ronda inversion</h1>
<div mat-dialog-content>
  <p>Por favor ingrese los datos de la nueva ronda de inversion</p>
  <mat-form-field class="full-width-input">
    <input matInput placeholder="Nombre ronda de inversion" [(ngModel)]="data.nombreRondaInversion" required>
    <mat-error *ngIf="data.nombreRondaInversion.trim() == '' ">
      Por favor ingrese un nombre para la nueva ronda
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field class="full-width-input">
    <input matInput placeholder="Numero de ganadores en la ronda de inversion" [(ngModel)]="data.numeroGanadores" required>
    <mat-error *ngIf="data.numeroGanadores == 0 ">
      Por favor ingrese un numero de ganadores para la nueva ronda
    </mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Enviar</button>
</div>