<div class="content">
    <div>
        <div *ngIf="!existCongresses()" class="jumbotron text-center ">
            <div>
                <h3>Ops, No hay congresos creados</h3>
                <p> Parece que no has creado ningun congreso </p>
                <br>
            </div>
            <br>
        </div>
        <div class="row justify-content-center" *ngIf="existCongresses()">
            <br>
            <h3>Bienvenidos al panel de administracion</h3>
            <br>
        </div>
        <div class="row justify-content-center">
            <button (click)="abrirDialogoNuevoCongreso()" class="btn btn-primary col-6">
                Crear nuevo congreso
            </button>
        </div>
    </div>
    <br>

    <ngb-tabset>
        <ngb-tab *ngFor="let activeCongress of congressesInformation | async; index as indiceCongreso">
            <ng-template ngbTabTitle>
                <div (click)="setCongress( (indiceCongreso+1) )">{{ activeCongress.nameCongress }}</div>
            </ng-template>
            <ng-template ngbTabContent>
                <div class="content">
                    <div class="jumbotron text-center">
                        <div class="container">
                            <app-congress-information [congressInformation]="activeCongress"></app-congress-information>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>