<div class="content">
    <mat-card>
        <mat-card-title>
          Perfil
        </mat-card-title>
      <mat-card-content>
          <mat-list>
              <mat-list-item>

                <p>
                  <strong> EMAIL: </strong> {{ email }}
                </p>
              </mat-list-item>
              <mat-divider></mat-divider>
            </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
