<div class="content" *ngIf="labs">
    <mat-accordion>
        <mat-expansion-panel *ngFor="let lab of labs " (opened)="panelOpenState = true" (closed)="panelOpenState = false">

            <mat-expansion-panel-header>
                <mat-panel-title>
                    Opciones de inversión: {{ lab.description }}
                </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-tab-group *ngIf="rondasInversion">
                <mat-tab *ngFor="let round of rondasInversion; index as idRoundInvestment" label="Ronda {{ round.name }}  ">
                    <app-options-investments [idInvestmentArea]="buildIdInvestmentArea( lab.idEvent, (idRoundInvestment+1) )" [idInvestmentRound]="(idRoundInvestment+1)">
                    </app-options-investments>
                </mat-tab>
            </mat-tab-group>

        </mat-expansion-panel>
    </mat-accordion>
</div>

<div class="content" *ngIf="!labs">
    <div class="jumbotron">
        <h3>
            No hay laboratorios registrados
        </h3>
    </div>
</div>