<div class="row">
    <div *ngIf="investmentsRounds" class="col-sm">
        <h5>
            Rondas de inversion
        </h5>
        <p>
            <button (click)="abrirDialogoNuevaRondaInversion(idCongress, numberInvestmentRounds)" class="btn btn-primary btn-block">
              Crear Ronda de inversion
            </button>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <td>
                        <strong>
                          Nombre
                        </strong>
                    </td>
                    <td>
                        <strong>
                          Criterios
                        </strong>
                    </td>
                    <td>
                        <strong>
                          Numero ganadores
                        </strong>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let rondaInversion of investmentsRounds | async; index as indiceRondaInversion">
                    <td>
                        {{ rondaInversion.name }}
                    </td>
                    <td *ngIf="!rondaInversion.getCriteriaAsString">
                        No hay criterios creados
                    </td>
                    <td *ngIf="rondaInversion.getCriteriaAsString">
                        {{ rondaInversion.getCriteriaAsString }}
                    </td>
                    <td>
                        {{ rondaInversion.numberWinners }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="!investmentsRounds" class="col-sm">
        <div class="jumbotron" *ngIf="!numberOfEvents">
            <h3>
                No hay rondas de inversion creadas
            </h3>
            <p>
                <button (click)="abrirDialogoNuevaRondaInversion(idCongress)" class="btn btn-primary btn-block">
                  Crear Ronda de inversion
                </button>
            </p>
        </div>
    </div>
</div>