<div class="content">
    <mat-card>
        <mat-card-title>
            Laboratorios
        </mat-card-title>
        <mat-card-content>
            <div *ngIf="userInformation">
                <table mat-table [dataSource]="laboratorios" class="mat-elevation-z8">
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> Id </th>
                        <td mat-cell *matCellDef="let i = index"> {{ i + 1 }} </td>
                    </ng-container>
                    <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef> Descripción </th>
                        <td mat-cell *matCellDef="let element"> {{element.description }} </td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Acción </th>

                        <td mat-cell *matCellDef="let element; let i = index">

                            <button mat-raised-button *ngIf="showLabOption()" (click)="enterLaboratory( element.idEvent )" color="primary">
                                Ingresar al laboratorio
                            </button>

                            <button mat-raised-button *ngIf="showgroupOption(element.idEvent)" (click)="openDialog()" color="primary">
                                Ingresar al grupo
                            </button>

                            <button mat-raised-button *ngIf="showSendIdeaOption(element.idEvent)" (click)="sendIdea()" color="primary">
                                Crear idea
                            </button>

                            <p *ngIf="showMessageSentIdea(element.idEvent)"> La idea ya fue enviada</p>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsLabs"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsLabs; "></tr>
                </table>
            </div>

        </mat-card-content>
    </mat-card>
</div>