mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
}.content {
    background-image: url('../../../assets/background.png');
    width: auto;
    height: auto;
    padding: 20px 1rem;
}.full-width-input {
    width: 100%;
}.mat-list-item-content {
    justify-items: center;
    text-align: center;
    align-content: center;
    align-items: center;

}.content-chart {
    background-image: url('../../../assets/background.png');
    width: auto;
    height: 100%;
    padding: 20px 1rem;
}