<div class="content">
    <mat-card>
        <mat-card-title>
            Perfil
        </mat-card-title>
        <mat-card-content>

            <mat-list>
                <mat-list-item>
                    <p>
                        <strong> Ronda de inversión actual: </strong> {{ currentInvestmentRound }}
                    </p>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item *ngIf="user">
                    <p>
                        <strong> Puntos disponibles: </strong> {{ user.puntos_individuales }}
                    </p>
                </mat-list-item>
                <mat-divider *ngIf="user"></mat-divider>
                <mat-list-item>
                    <p>
                        <strong>Correo:</strong> {{ user.correo }}
                    </p>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item *ngIf="!user.laboratorio">
                    <strong> Laboratorio: </strong> no asignado
                </mat-list-item>
                <mat-list-item *ngIf="user.laboratorio">
                    <strong> Laboratorio: </strong> laboratorio {{user.laboratorio}}
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item *ngIf="!user.grupo">
                    <strong> Grupo: </strong> no asignado
                </mat-list-item>
                <mat-list-item *ngIf="user.grupo">
                    <strong> Grupo: </strong> Grupo {{ user.grupo }}
                </mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
        </mat-card-content>
    </mat-card>
</div>

<!--
<div class="content-chart">
    <mat-card>
        <mat-card-content>
            <div style="display: block">
                <canvas baseChart
                            [data]="doughnutChartData"
                            [labels]="doughnutChartLabels"
                            [chartType]="doughnutChartType"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>
              </div>
        </mat-card-content>
    </mat-card>
</div>

-->