<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="colum-sm">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Administrar eventos </h5>
                </div>
                <div class="card-body">
                    <div *ngIf="canAddEvent">
                        <button (click)="abrirDialogoNuevoEvento()" class="btn btn-primary btn-block">
                            Agregar evento
                        </button>
                    </div>
                    <br>
                    <br>
                    <div class="jumbotron" *ngIf="!numberOfEvents">
                        <h3>
                            No hay eventos creados
                        </h3>
                    </div>
                    <div class="table-responsive" *ngIf="numberOfEvents > 0">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td>
                                        <strong>
                                            Horario
                                        </strong>
                                    </td>
                                    <td>
                                        <strong>
                                            Descripcion
                                        </strong>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let event of events | paginate: { itemsPerPage: 10, currentPage: p }">
                                    <td>
                                        {{ event.schedule }}
                                    </td>
                                    <td>
                                        {{ event.description }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>